body {
  background-image: url(./images/semi-opened-laptop-computer-turned-on-on-table-2047905.jpg);
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
